.block--header-social {
    text-align: center;

    a {
        i {
            width: 15px;
            height: 15px;
            display: inline-block;

            svg {
                width: 100%;
                height: 100%;

                path {}
            }
        }
    }

    @include media($screen-xs) {}


    @include media($screen-md) {
        text-align: right;

        a {
            i {
                margin-left: 10px;

                // width: 13px;
                // height: 13px;
           
            }
        }
    }


    @include media($screen-md) {}


    @include media($screen-lg) {}


    @include media($screen-xl) {}
}