.flex {
    display: flex;
}

.dsk--flex {
    @include media($screen-sm) {
        display: flex;
    }
}

.md--flex {
    @include media($screen-md) {
        display: flex;
    }
}

.flex--wrap {
    flex-wrap: wrap;
}

.justify--between {
    justify-content: space-between;
}

.justify--around {
    justify-content: space-around;
}

.justify--end {
    justify-content: flex-end;
}

.justify--center {
    justify-content: center;
}

.align--items-start {
    align-items: start;
}

.align--items-end {
    align-items: flex-end;
}

.align--items-center {
    align-items: center;
}

.align--items-baseline {
    align-items: baseline;
}
.align--self-end{
    align-self: end;
}

// 
// Grid
//
@include media($screen-lg) {
    .max-wrap {
        max-width: $max-wrap;
        box-sizing: content-box;
    }
}


.winery-wrap {
    max-width: 1080px;
    box-sizing: content-box;
}

.margin--center {
    margin: 0 auto;
}

.content-box {
    box-sizing: content-box;
}

.vertical--center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidden--mob {
    @include media($max-sm) {
        display: none !important;
    }
}

.hidden--tab {
    @include media($max-lg) {
        @include media($screen-sm) {
            display: none !important;
        }
    }
}

.hidden--md {
    @include media($max-md) {
        display: none !important;
    }
}

.hidden--lg {
    @include media($max-lg) {
        display: none !important;
    }
}

.hidden--dsk {
    @include media($screen-sm) {
        display: none !important;
    }
}

.order--0 {
    order: 0;
}

.order--1 {
    order: 1;
}