.section--home-region {
    .icon-wine-glass {
        width: 120px;
        display: inline-block;
        position: absolute;
        bottom: -2.5em;
    }

    .block--home-region-text {
        @include media($screen-xs) {}

        @include media($screen-sm) {
            margin-top: -2em;
        }


        @include media($screen-md) {
            margin-top: -3em;
        }


        @include media($screen-lg) {
            margin-top: -4em;
        }


        position: relative;

        @include media($max-sm) {
            margin: 0;
            width: 70%;
            top: -15em;
            left: calc(100vw - 75%);
        }
    }

    @include media($max-sm) {
        .block--center-images {
            margin-bottom: .8em;
        }

        img {
            width: 100%;
        }

        .icon-wine-glass {
            bottom: -5.5em;
        }
    }
}