.section--home-region {
    .icon-wine-glass {
        width: 120px;
        display: inline-block;
        position: absolute;
        bottom: -2.5em;
    }

    .block--home-region-text {
        margin-top: -4em;
        position: relative;
    }
}