.section--home-explore {
    position: relative;

    .block--home-explore-text {
        margin-top: -4em;

        @include media($screen-sm) {
            margin-right: 8em;
        }


        position: relative;
    }
}