.section--footer-links {
    padding-top: 1em * $grid;
    padding-bottom: 1em * $grid;

    @include media($screen-lg) {
        padding-top: 3em * $grid;
        padding-bottom: 3em * $grid;
    }


    @include media($max-lg) {
        .block--footer-social {
            padding-top: 1em * $grid;
            padding-bottom: 1em * $grid;
        }
    }


    @include media($max-sm) {
        .block--footer-social {

        }
    }


    nav {
        font-size: 1.2em;
    }
}