.section--winery-amenities {
    .block--amenities {
        @include media($screen-sm) {
            flex-basis: calc(100% - 50px);
            padding-left: 2em;
            box-sizing: border-box;
        }


        @include media($max-sm) {
            .divider {
                display: none;
            }

            .inline-block {
                display: block;
            }
        }
    }

    .amenity {
        position: relative;

        .amenity-details {
            font-size: 0.7em;
            display: block;
            z-index: 99;
        }

        i {
            display: none;
        }

        @include media($screen-sm) {
            &.hasdeets {
                cursor: pointer;
            }

            .amenity-details {
                background: white;
                padding: 4px 8px;
                border-radius: 2px;
                position: absolute;
                opacity: 0;
                transition: opacity .2s ease;
            }

            i {
                display: block;
                height: 15px;
                width: 15px;
                color: map-get($red, main);
                text-align: center;
                line-height: 13px;
                border-radius: 10px;
                top: -5px;
                right: -15px;
                position: absolute;
                font-size: 0.7em;
            }

            &:hover {
                .amenity-details {
                    opacity: 1;
                }
            }
        }
    }

    @include media($max-sm) {
        .icon-corkscrew {
            display: none;
        }
    }
}