.section--footer-signup {
    .icon-taste-your-way {
        @include media($screen-md) {
            margin: 0 auto;
        }


        @include media($max-md) {
            margin-bottom: 1em;
        }
    }

    form {
        font-weight: 600;
        font-size: 1em;

        @include media($screen-sm) {
            font-size: 1.5em;
        }


        .mc-field-group {
            width: 70%;

            @include media($screen-md) {
                width: 50%;
            }


            display: inline-block;

            [type="email"] {
                letter-spacing: 0;
                font-weight: 600;
                width: 100%;
            }
        }

        input,
        select,
        textarea,
        #{$all-text-inputs} {
            font-size: inherit;
            color: map-get($red, main);
            border: 0;

            &::-webkit-input-placeholder {
                color: map-get($red, main);
            }

            &:-moz-placeholder {
                /* Firefox 18- */
                color: map-get($red, main);
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: map-get($red, main);
            }

            &:-ms-input-placeholder {
                color: map-get($red, main);
            }
        }
    }

    .clear {
        display: inline-block;
    }

    .button {
        background: transparent;
        border: 0;
        text-transform: none;
        letter-spacing: 0;
        font-weight: 600;
        color: white;

        @include media($max-sm) {
            padding: 0;
        }
    }
}