{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}} bg--brown-light" data-template="base.twig">

	{% block header %}
		{% include 'components/header.twig' %}
	{% endblock %}

<main role="main" class="content-wrapper">

		{% block content %}
			Sorry, no content
		{% endblock %}

</main>
{% block footer %}
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}
</body>
<script type="text/javascript" charset="utf-8" async defer>$('#email_address_0').attr('placeholder', 'Email');</script>
</html>