{% extends "base.twig" %}
{% block content %}

	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="section--page-header spacing--vert-2">
			<h1 class="article-h1 text--center">{{post.post_title}}</h1>
		</section>
			<div class="max-wrap margin--center spacing--gutter margin--horiz-1">{% include 'components/blocks/block--breadcrumbs.twig' %}</div>
		{% include 'components/sections/section--child-blocks.twig' with {'eventdisplay': true} %}
<section class="flex flex--wrap margin--center spacing--gutter">
	<h1 class="text--center grid--one">Regional Events</h1>
</section>
		
	</article>
{% endblock %}
