.icon-close { background-image: url('app/icons/close.png'); background-repeat: no-repeat; }

.icon-i80 { background-image: url('app/icons/i80.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-social--facebook { background-image: url('app/icons/social--facebook.png'); background-repeat: no-repeat; }

.icon-social--search { background-image: url('app/icons/social--search.png'); background-repeat: no-repeat; }

.icon-social--twitter { background-image: url('app/icons/social--twitter.png'); background-repeat: no-repeat; }

.icon-tab { background-image: url('app/icons/tab.png'); background-repeat: no-repeat; }

.icon-taste-your-way { background-image: url('app/icons/taste-your-way.png'); background-repeat: no-repeat; }

.icon-wine-glass { background-image: url('app/icons/wine-glass.png'); background-repeat: no-repeat; }

