<section class="section--winery-list spacing--gutter max-wrap margin--center">
{% include 'components/sections/section--winery-filter.twig' %}

	{% for winery in wineries %}
		{% include 'components/blocks/block--winery.twig' %}
	{% endfor  %}
</section>