<section class="section--winery-filter margin--top-2">

	<form id="wineryfilter" action="{{site.url}}/explore-our-wineries/?filter=varietal_id" method="get" accept-charset="utf-8">
		<select name="varietal_id" id="varietal_id" class="grid--sm-third icon-angle-down" >
			{% if currentFilter != null %}
				<option>{{currentFilter}}</option>
			{% endif %}
			{% for varietal in varietals %}
				<option value="{{varietal.term_id}}">{{varietal.name}}</option>
			{% endfor %}
		</select>
		<input type="submit" name="" class="font--large" value="Search">
	</form>
	<div class="block--day-filter font--large flex flex--wrap justify--between spacing--vert-1">
		<strong>Days open:</strong>
		<a class="color--black" href="">Monday</a><span class="hidden--mob spacing--horiz-half">|</span>
		<a class="color--black" href="">Tuesday</a><span class="hidden--mob spacing--horiz-half">|</span>
		<a class="color--black" href="">Wednesday</a><span class="hidden--mob spacing--horiz-half">|</span>
		<a class="color--black" href="">Thursday</a><span class="hidden--mob spacing--horiz-half">|</span>
		<a class="color--black" href="">Friday</a><span class="hidden--mob spacing--horiz-half">|</span>
		<a class="color--black" href="">Saturday</a><span class="hidden--mob spacing--horiz-half">|</span>
		<a class="color--black" href="">Sunday</a>
	</div>
</section>
</script>