<section class="section--footer-signup bg--red spacing--vert-1 spacing--horiz-1 spacing--dsk-vert-2 spacing--dsk-vert-3 flex flex--wrap justify--between spacing--dsk-horiz-2 align--items-center">
	<div class="grid--one  grid--md-two-fifths">
		<i class="icon-taste-your-way grid--half grid--sm-two-fifths grid--md-three-fifths block" data-grunticon-embed></i>
	</div>
	<div class="grid--one grid--md-three-fifths">
		<h2 class="large">Sign up for news and events!</h2>
		{{options.footer.email}}
	</div>
</section>