<section class="section--footer-signup bg--red spacing--gutter-mob spacing--vert-2 spacing--dsk-vert-3 flex flex--wrap justify--between spacing--dsk-horiz-2 align--items-center">
	<div class="grid--one  grid--md-two-fifths">
		<i class="icon-taste-your-way grid--half grid--sm-two-fifths grid--md-three-fifths block" data-grunticon-embed></i>
	</div>
	<div class="grid--one grid--md-three-fifths">
		<h2 class="large">Sign up for news and events!</h2>
		{{options.footer.email}}
	</div>
	<!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "d9049ce862c28161372dbf11dce4016b"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->
</section>