<aside class="section--winery-awards-deets spacing--gutter winery-wrap margin--center spacing--vert-1 spacing--dsk-vert-0 grid--one order--1">
	<section class="section--winery-amenities grid--one flex flex--wrap justify--between align--items-start border--1 spacing--vert-1 spacing--dsk-vert-2">
		{% for detail in event.details %}
			<h2 class="grid--one grid--sm-fourth font--standard color--brown-dark">{{detail.title}}</h2>
			<div class="border--grid grid--one grid--sm-three-fourths dsk--flex flex--wrap justify--between margin--bot-3">
				<div class="font--medium">
					{{detail.content}}
				</div>
			</div>
		{% endfor %}
	</section>
</aside>